body{
	background-image: url('./images/gplaypattern.png');
	color: #000;
	font-family: 'Crete Round', serif;
	z-index: -1;
}

.header{
	position: fixed;
	top:0px;
	height: 150px;
	z-index:1001;
	font-size: 72px;
	text-align:center;
	background-color: white;
}

.top_bar{
	position:static;
	margin-top:120px;
}


#prefs{
	position: static;
	height:40px;
	z-index:1002;
}

#prefs input {        
	position: fixed;;
	border-radius: 10px;
	height:40px;
	z-index:1002;
	border: 1px solid #CDCDCD;
	text-align: center;
	font-family: 'Crete Round', serif;
}

#results{
	position: static;
	top: 140px;
}

#results .result{
	float:left;	
	height: 150px;
	margin-top: 25px;
	color: white;
	-moz-box-shadow:    0px 1px  5px 4px gray;
	-webkit-box-shadow:    0px 1px  5px 4px gray;
	box-shadow:    0px 1px  5px 4px gray;
	background-color:black;
   	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	background-repeat: no-repeat;
	background-size: Auto 100%;
	background-position:center; 

}

#results .result:active{
	position: relative;
    top: 2px;
	-moz-box-shadow:    0px 1px  5px 2px gray;
	-webkit-box-shadow: 0px 1px  5px 2px gray;
	box-shadow:         0px 1px  5px 2px gray;
}

.inner{
	height: 150px;
	background-color: rgba(0, 0, 0, 0.5);
}

.result img{
	position: absolute;
	top: 0px;
	display: inline-block;
}

.result h1{
	font-size: 20px;
	color: white;
	position: relative;
	overflow: hidden;
	height:50px;
}
.result h3{
	color: white;
}

.result img{
	visibility: hidden;
}