body{
	background-image: url('./images/starring.png');
	color: #000;
	font-family: 'Corben', cursive;
	z-index: -1;
}

.header{
	position: fixed;
	top:0px;
	height: 150px;
	z-index:1001;
	font-size: 72px;	
	color: #FFF;
	text-align:center;
	background-color: rgb(55, 55, 55);
}

.top_bar{
	position:static;
	margin-top:120px;
}


#prefs{
	position: static;
	height:40px;
	z-index:1002;
}

#prefs input {        
	position: fixed;;
	border-radius: 10px;
	height:40px;
	z-index:1002;
	border: 1px solid #CDCDCD;
	text-align: center;
}

#results{
	position: static;
	top: 140px;
}

#results .result{
	float:left;	
	height: 150px;
	margin-top: 25px;
	color: white;
	background-color: rgb(55, 55, 55);
   	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: 	border-box;    /* Firefox, other Gecko */
	box-sizing: 		border-box;         /* Opera/IE 8+ */
	background-repeat: no-repeat;
	background-size: Auto 100%;
	background-position:center; 
	border: 1px solid #0066CC;

}

#results .result:active{
	position: relative;
    top: 2px;
}

.inner{
	height: 150px;
	background-color: rgba(55, 55, 55, 0.4);
}

.result img{
	position: absolute;
	top: 0px;
	display: inline-block;
}

.result h1{
	margin-left: 10px;
	font-size: 20px;
	position: relative;
	overflow: hidden;
	height:40px;
	margin-top: 0px;
}

.result h3{

	margin-left: 15px;
}

.result img{
	visibility: hidden;
}